.notification-container(class=notificationStyle id="notification-" + notificationId)
  .notification-message(id="notification-" + notificationId)=message
  .notification-action-container
    .notification-close-container.btn-icon