doctype html
html
  head
    block variables
    meta(charset='utf-8')
    - var title = title || "Haptagram"
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href="/public/style/main.scss")
    link(rel='stylesheet', href="./styles.scss")
  body
    header
    #main-container
      block content
    include footer
    script(type="module" src="./index.js")