$blue-grey-0:#141b2e;
$blue-grey-1: #1b2133;
$blue-grey-2: #3E4453;
$blue-grey-3: #5E626E;
$blue-grey-4: #8B90A0;
$blue-grey-5: #D6D7D9;
$blue-grey-6:#F3F3F4;

$purple:rgba(113, 101, 253, 0.76);
$green: #0F9243;
$red: #cb3f3f;

$orange: #FF7E62;
$orange-gradiant: linear-gradient(180deg, $orange 0%, #FB7067 100%);

$white: #FFF;
$black: black;

$transparent-white: rgba($white, 0.3);
$font-color-primary: $white;

$primary: #D18B13;
$primary-ligth: #F7DBAD;
$gray-ligth: #F5F5F5;
$gray-dark: #757575;
$gray: #C2C2C2;





$background: #E6E6E6;
$background-1: #E6E1DA;
$background-2: #99938A;
$background-1: #E6DDCF;